[buildout]

# If locked out,
# add an emergency user: "bin/plonectl instance client2 adduser"
# CHANGE THIS AFTER FIRST BOOT!!!!!!!
user=admin:admin

# If you try to start Zope as root, it will change user id to run as
# the effective user specified here. This user id must own the var directory
# of your buildout.
effective-user = ${env:USER}

site-id = tool

zeo-address = 127.0.0.1:60000
# Zope instance client
http-address = 60001

extends =
    base.cfg
    versions.cfg
    sources.cfg
    picked-versions.cfg
#    http://dist.plone.org/release/4.2rc2/versions.cfg

# If you change your Plone version, you'll also need to update
# the repository below.
find-links +=
    http://dist.plone.org/release/
    http://dist.plone.org/release/4.2rc2/


############################################
# Eggs
# ----
# Add an indented line to the eggs section for any Python
# eggs or packages you wish to include.
#
eggs =
    Plone
    Pillow

zcml =

develop =
#    src/my.package

backups-dir=${buildout:directory}/var

environment-vars =
    zope_i18n_compile_mo_files false
    PYTHON_EGG_CACHE ${buildout:directory}/var/.python-eggs
    PYTHONHASHSEED random
    TZ US/Mountain
    zope_i18n_allowed_languages en
    #    zope_i18n_allowed_languages en es de fr


############################################
# Parts Specification
# -------------------
# Specifies the components that should be included in the buildout.
# All the basics are in the base.cfg extension; you may add your
# own if you need them at the end of this file.
parts =
    env
    zeoserver
    instance
    zopepy
    zopeskel
    unifiedinstaller
    backup
    chown-zeo
    ipzope


############################################
# Versions Specification
# ----------------------
# Version information supplied here will "pin" Python packages to a particular
# version number, even when you use the "newest" flag running buildout.
# Specifying versions for all packages is a good idea and can prevent
# accidental changes when you add new packages to your buildout.
# Note that versions specified here will override those specified earlier
# in the configuration, including those from the Plone and Zope version
# config files.
#
[versions]
Products.DocFinderTab = 1.0.5
ZopeSkel = 2.21.2
plone.recipe.command = 1.1
plone.recipe.unifiedinstaller = 4.1
Cheetah = 2.2.1
Pillow = 1.7.7
collective.recipe.backup = 2.4
plone.recipe.command = 1.1